
<header>
    <a class="linkNoColour noUnderline" href="https://danialaminrahmanlou.com/"><h1>Hi. I'm Danial Amin-Rahmanlou.</h1></a>
    <p class="nospacing" style="font-size: 20px; color: grey; text-indent: 0%;">"dan-yuhl • aa-min • rah-man-loo"
    </p>

</header>

<nav>
    {% for item in site.data.navigation %}
      <a class="navLink" href="{{ item.link }}" style="margin-right: 3%;" {% if page.url == item.link %}style="color: red;"{% endif %}>
        {{ item.name }}
      </a>
    {% endfor %}
      
  </nav>